<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Database Editor</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <style>
      body {
        margin: 0;
      }
      .container {
        display: flex;
      }
      .column {
        flex: 1;
      }
    </style>
  </head>

  <body>
    <div class="container">
      {{#each collections}}
        <div class="column">
          <h1>{{this.name}}</h1>

          <h2>Insert</h2>
          <form action="../action/insert/{{this.name}}" method="post">
            <table>
              {{#each this.fields}}
                <tr>
                  <td><label for="{{this.name}}">{{this.name}}</label></td>
                  <td>
                    {{#if this.isArray}}
                      <textarea name="{{this.name}}" id="{{this.name}}" cols="40" rows="5" placeholder="Values seperated by ;"></textarea>
                    {{else}}
                      <input type="text" name="{{this.name}}" id="{{this.name}}">
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
              <tr>
                <td></td>
                <td><input type="submit" style="float:right;"></td>
              </tr>
            </table>
          </form>

          <h2>Delete</h2>
          <form action="../action/delete/{{this.name}}" method="post">
            <table>
              <tr>
                <td><label for="name">id</label></td>
                <td><input type="text" name="id" id="id"></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="submit" style="float:right;"></td>
              </tr>
            </table>
          </form>

          <h2>Update</h2>
          <form action="../action/update/{{this.name}}" method="post">
            <table>
              <tr>
                <td><label for="name">id</label></td>
                <td><input type="text" name="id" id="id"></td>
              </tr>
              {{#each this.fields}}
                <tr>
                  <td><label for="{{this.name}}">{{this.name}}</label></td>
                  <td>
                    {{#if this.isArray}}
                      <textarea name="{{this.name}}" id="{{this.name}}" cols="40" rows="5" placeholder="Values seperated by ;"></textarea>
                    {{else}}
                      <input type="text" name="{{this.name}}" id="{{this.name}}">
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
              <tr>
                <td></td>
                <td><input type="submit" style="float:right;"></td>
              </tr>
            </table>
          </form>
        </div>
      {{/each}}
    </div>
  </body>
</html>
